In [7]:
import numpy as np
import pandas as pd

df = pd.read_csv("./2021Census_G01_VIC_SA1.csv")
total_pop = df["Tot_P_P"]
total_pop

0         435
1         184
2         377
3         584
4         358
         ...
15477     493
15478       0
15479      21
15480      14
15481    9089
Name: Tot_P_P, Length: 15482, dtype: int64

In [8]:
# 1. Parents (Age 25 - 55) born in China 

df = pd.read_csv("./2021Census_G09F_VIC_SA1.csv")

china_born_df = df.loc[:, "P_China_25_44":"P_China_45_54"]

SA1s = df.iloc[:, 0]

china_born_df.insert(0, "SA1 Code", SA1s)

china_born_df["Chinese Parents (25-55)"] = china_born_df["P_China_25_44"] + china_born_df["P_China_45_54"]

china_born_df = china_born_df.drop(china_born_df.columns[[1, 2]], axis=1)

china_born_df.sort_values("Chinese Parents (25-55)", ascending=False).head(20)

china_born_df.insert(2, "Total Pop", total_pop)
china_born_df["Prop_CN_Parents"] = china_born_df["Chinese Parents (25-55)"]/china_born_df["Total Pop"]
china_born_df.sort_values("Prop_CN_Parents", ascending=False)
# china_born_df

/var/folders/wq/qgpnwsdx6nv6qtzczxy0mnjc0000gn/T/ipykernel_56999/2733621909.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  china_born_df["Chinese Parents (25-55)"] = china_born_df["P_China_25_44"] + china_born_df["P_China_45_54"]

          SA1 Code  Chinese Parents (25-55)  Total Pop  Prop_CN_Parents
4999   20703116353                       41        118         0.347458
5003   20703116357                      240        767         0.312907
5004   20703116358                      163        558         0.292115
4984   20703116334                      248        909         0.272827
4998   20703116352                       79        321         0.246106
...            ...                      ...        ...              ...
15365  21704147808                        0          0              NaN
15387  21704147902                        0          0              NaN
15436  21704147954                        0          0              NaN
15455  21704148013                        0          0              NaN
15478  29797979991                        0          0              NaN

[15482 rows x 4 columns]

In [9]:
# 2. Children with Parents born in China 
df = pd.read_csv("./2021Census_G08_VIC_SA1.csv")
chinese_parents_df = df[["SA1_CODE_2021", "Chinese_Tot_resp"]]
chinese_parents_df.rename(columns={'Chinese_Tot_resp': 'Children w/ Chinese Parents'}, inplace=True)
chinese_parents_df.sort_values("Children w/ Chinese Parents", ascending=False)

chinese_parents_df.insert(2, "Total Pop", total_pop)
chinese_parents_df["Prop_Ch_w_CN_Parents"] = chinese_parents_df["Children w/ Chinese Parents"]/chinese_parents_df["Total Pop"]
chinese_parents_df.sort_values("Prop_Ch_w_CN_Parents", ascending=False)

chinese_parents_df

/var/folders/wq/qgpnwsdx6nv6qtzczxy0mnjc0000gn/T/ipykernel_56999/2981007901.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  chinese_parents_df.rename(columns={'Chinese_Tot_resp': 'Children w/ Chinese Parents'}, inplace=True)
/var/folders/wq/qgpnwsdx6nv6qtzczxy0mnjc0000gn/T/ipykernel_56999/2981007901.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  chinese_parents_df["Prop_Ch_w_CN_Parents"] = chinese_parents_df["Children w/ Chinese Parents"]/chinese_parents_df["Total Pop"]

,SA1_CODE_2021,Children w/ Chinese Parents,Total Pop,Prop_Ch_w_CN_Parents
0,20101100101,12,435,0.027586
1,20101100102,0,184,0.000000
2,20101100105,13,377,0.034483
3,20101100106,5,584,0.008562
4,20101100107,3,358,0.008380
...,...,...,...,...
15477,21704148035,3,493,0.006085
15478,29797979991,0,0,NaN
15479,29797979992,0,21,0.000000
15480,29797979993,0,14,0.000000
15481,29999949999,206,9089,0.022665

In [10]:
# 3. Children currently attending Primary School
# 4. Children currently attending Secondary School 
df = pd.read_csv("./2021Census_G15_VIC_SA1.csv")
students_df = df[["SA1_CODE_2021", "Primary_Tot_Primary_P", "Secondary_Tot_Secondary_P"]]
students_df.rename(columns={"Primary_Tot_Primary_P": "Primary"}, inplace=True)
students_df.rename(columns={"Secondary_Tot_Secondary_P": "Secondary"}, inplace=True)
students_df.sort_values("Secondary", ascending=False)

students_df.insert(3, "Total Pop", total_pop)
students_df["Prop_Primary"] = students_df["Primary"]/students_df["Total Pop"]
students_df["Prop_Secondary"] = students_df["Secondary"]/students_df["Total Pop"]

# students_df.sort_values("Prop_Primary", ascending=False)
students_df.sort_values("Prop_Secondary", ascending=False)

# students_df

/var/folders/wq/qgpnwsdx6nv6qtzczxy0mnjc0000gn/T/ipykernel_56999/3448346807.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  students_df.rename(columns={"Primary_Tot_Primary_P": "Primary"}, inplace=True)
/var/folders/wq/qgpnwsdx6nv6qtzczxy0mnjc0000gn/T/ipykernel_56999/3448346807.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  students_df.rename(columns={"Secondary_Tot_Secondary_P": "Secondary"}, inplace=True)
/var/folders/wq/qgpnwsdx6nv6qtzczxy0mnjc0000gn/T/ipykernel_56999/3448346807.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  students_df["Prop_Primary"] = students_df["Primary"]/students_df["Total Pop"]
/var/folders/wq/qgpnwsdx6nv6qtzczxy0mnjc0000gn/T/ipykernel_56999/3448346807.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  students_df["Prop_Secondary"] = students_df["Secondary"]/students_df["Total Pop"]

,SA1_CODE_2021,Primary,Secondary,Total Pop,Prop_Primary,Prop_Secondary
8104,21005125019,0,3,4,0.000000,0.750000
12410,21303135111,0,4,6,0.000000,0.666667
8390,21101125407,0,4,6,0.000000,0.666667
1247,20302148603,20,347,543,0.036832,0.639042
142,20101100825,22,179,367,0.059946,0.487738
...,...,...,...,...,...,...
15365,21704147808,0,0,0,NaN,NaN
15387,21704147902,0,0,0,NaN,NaN
15436,21704147954,0,0,0,NaN,NaN
15455,21704148013,0,0,0,NaN,NaN
15478,29797979991,0,0,0,NaN,NaN

In [11]:
# 5. Families with total reported income of >$100,000 
Sheet_A = pd.read_csv("./2021Census_G58A_VIC_SA1.csv")
Sheet_B = pd.read_csv("./2021Census_G58B_VIC_SA1.csv")
income_df = Sheet_A[["SA1_CODE_2021", "I_1_149_Tot", "I_150_299_Tot", "I_300_399_Tot", "I_400_499_Tot", "I_500_649_Tot", "I_650_799_Tot", "I_800_999_Tot", "I_1000_1249_Tot", "I_1250_1499_Tot", "I_1500_1749_Tot", "I_1750_1999_Tot", "I_2000_2499_Tot", "I_2500_2999_Tot", "I_3000_3499_Tot", "I_3500_3999_Tot"]]

high_income = Sheet_B[["I_4000more_Tot"]]
income_df = income_df.merge(high_income, left_index=True, right_index=True)
income_df["High Income"] = income_df[["I_2000_2499_Tot", "I_2500_2999_Tot", "I_3000_3499_Tot", "I_3500_3999_Tot","I_4000more_Tot"]].sum(axis=1)
income_df["Total"] = income_df[["I_1_149_Tot", "I_150_299_Tot", "I_300_399_Tot", "I_400_499_Tot", "I_500_649_Tot", "I_650_799_Tot", "I_800_999_Tot", "I_1000_1249_Tot", "I_1250_1499_Tot", "I_1500_1749_Tot", "I_1750_1999_Tot", "I_2000_2499_Tot", "I_2500_2999_Tot", "I_3000_3499_Tot", "I_3500_3999_Tot", "I_4000more_Tot"]].sum(axis=1)
income_df["Prop_Aff"] = income_df["High Income"] / income_df["Total"]
income_df = income_df[["SA1_CODE_2021", "High Income", "Total", "Prop_Aff"]]


income_df

       SA1_CODE_2021  High Income  Total  Prop_Aff
0        20101100101           30     39  0.769231
1        20101100102           11     11  1.000000
2        20101100105            8     14  0.571429
3        20101100106           37     57  0.649123
4        20101100107            3      3  1.000000
...              ...          ...    ...       ...
15477    21704148035           43     55  0.781818
15478    29797979991            0      0       NaN
15479    29797979992            0      0       NaN
15480    29797979993            0      0       NaN
15481    29999949999            0      0       NaN

[15482 rows x 4 columns]

In [ ]:
# Concatenate all the DataFrames in the `dfs` list into a single DataFrame
combined_df = pd.concat([china_born_df, chinese_parents_df.drop(["SA1_CODE_2021", "Total Pop"], axis=1), students_df.drop(["SA1_CODE_2021", "Total Pop"], axis=1), income_df.drop("SA1_CODE_2021", axis=1)], axis=1)

# Drop SA1s with <50 people because not efficient + high chance of inaccurate data
combined_df = combined_df.drop(combined_df[combined_df['Total Pop'] < 50].index)

combined_df.columns

Index(['SA1 Code', 'Chinese Parents (25-55)', 'Total Pop', 'Prop_CN_Parents',
       'Children w/ Chinese Parents', 'Prop_Ch_w_CN_Parents', 'Primary',
       'Secondary', 'Prop_Primary', 'Prop_Secondary', 'High Income', 'Total',
       'Prop_Aff'],
      dtype='object')